<h1 class="display-3 text-left">About</h1>
<p class="blockquote text-left">This is a Node/Express app for jotting down ideas for your next youtube video.</p>
<p class="dispaly-3 blockquote text-left">Version: 1.0.0</p>
<blockquote class="blockquote text-center">
  <p class="mb-0">Prepare for the Worst, and Hope for the Best!</p>
  <footer class="blockquote-footer">Ashwin at
    <cite title="Source Title">Mumbai</cite>
  </footer>
</blockquote>